@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-black: #1b1c1e;

  --font-inter: Inter, sans-serif;
}

@layer base {
  body {
    font-family: "Inter", sans-serif;
    color: #1b1c1e;
    background: #ecfdf5;
  }
  h1 {
    @apply text-7xl font-semibold text-center;
  }
  .subheading {
    @apply text-2xl font-normal;
  }
  h2 {
    @apply text-4xl font-semibold text-center;
  }
  h3 {
    @apply text-2xl font-medium text-center;
  }
}

@layer components {
  .nav-link-text {
    @apply text-lg font-normal;
  }
  .button {
    @apply text-lg font-semibold px-7 py-[14px] bg-green-500;
  }
}
